{% extends 'base.html.twig' %}

{% block title %}Projet Capou Symfony{% endblock %}

{% block body %}
<!--Header-->
<header  id="header" class="fixed-top ">
    <nav id="navbar" class="navbar">
        <a href="#" class="nav-link fixed-top">
          <img class="logo fixed-top" src="{{ asset('pictures/logo.jpg')}}"/>
        </a>
        <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#MAP">Carte</a></li>
            <li><a class="nav-link scrollto" href="#info">Informations</a></li>
            <li><a href="">Authentification</a></li>
        </ul>
    </nav>
</header>
<!---->
<!--Hero-->
<section id="hero">
    <div class="hero-container">
        <h1 id="Title">Campus Terre et vie</h1>
    </div>
</section>
<!---->
<!--Main-->
<main id="main">
    <!--Map Section-->
    <section id="MAP" class="MAP">
        <div class="container">
            <!--Map is here-->
            <div id="MAP-Example"></div> 
            <!---->
        </div>
    </section>
    <!---->
    <!--Informations Section-->
    <section id="info" class="info page-holder">
        <div class="container ">
            <div class="section-title">
                <h2>informations</h2>
            </div>
            <div class="row content">
                <div class="col-lg-6">
                    <h3>
                        Etablissement:
                    </h3>
                    <h4>
                        nom: Capou <br/>
                        type: lycée agricole
                    </h4>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <img class="image" src="{{ asset('pictures/etablissement.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!---->
</main>
<!---->
<!--Footer-->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <h4>mentions légales</h4>
      </div>
    </div>
    <div class="container">
        <h6>
            Site web créé par: <br/>
            Barrabé Sarah<br/>
            Macabiau Frédéric<br/>
            Sueur Mélissa<br/>
        </h6>
    </div>
</footer>
<!---->
{% endblock %}
