{% extends 'base.html.twig' %}

{% block title %}Projet Capour Symfony{% endblock %}

{% block body %}
<!--Header-->
<header  id="header" class="fixed-top ">
    <nav id="navbar" class="navbar">
        <a href="#" class="nav-link fixed-top">
          <img class="logo fixed-top" src="{{ asset('pictures/logo.jpg')}}"/>
        </a>
        <ul>
          <li><a class="nav-link scrollto active" href="#frame_1">Home</a></li>
          <li><a class="nav-link scrollto" href="#frame_2">Carte</a></li>
          <li><a class="nav-link scrollto" href="#frame_3">Informations</a></li>
          <li><a href="">Authentification</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
</header>
<!---->
<!--Hero-->
<section id="hero">
    <div class="hero-container">
        <h1 id="Titre">Campus Terre et vie</h1>
    </div>
</section>
<!---->
<!--Body-->
<main>

</main>
<!---->
<!--Footer-->
<footer>
    <h2 id="text">mentions légales</h2>
</footer>
<!---->
{% endblock %}
