{% extends 'base.html.twig' %}

{% block title %}Projet Capou Symfony{% endblock %}

{% block body %}
<!--Header-->
<header  id="header" class="fixed-top ">
    <nav id="navbar" class="navbar">
        <a href="#" class="nav-link fixed-top">
          <img class="logo fixed-top" src="{{ asset('pictures/logo.jpg')}}"/>
        </a>
        <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#MAP">Carte</a></li>
            <li><a class="nav-link scrollto" href="#info">Informations</a></li>
            <li><a href="">Authentification</a></li><!--bouton pour acceder au formulaire de connection-->
        </ul>
        <div class="mobile-nav-toggle">
            <ol>
                <li><a class="phone_buttons" href="#hero"><i class="bi bi-hash buttons_size"></i></a></li>
                <li><a class="phone_buttons" href="#MAP"><i class="bi bi-geo buttons_size"></i></a></li>
                <li><a class="phone_buttons" href="#info"><i class="bi bi-list-columns-reverse buttons_size"></i></a></li>
                <li><a href=""><i class="bi bi-file-earmark-person"></i></a></li><!--bouton pour acceder au formulaire de connection-->
            </ol>
        </div>
    </nav>
</header>
<!---->
<!--Hero-->
<section id="hero">
    <div class="hero-container">
        <h1 id="Title">Campus Terre et vie</h1>
    </div>
</section>
<!---->
<!--Main-->
<main id="main">
    <!--Map Section-->
    <section id="MAP" class="MAP">
        <div class="container">
            <div class="row content">
                <!--Map is here-->
                <div id="MAP-Example"></div> 
                <!---->
            </div>
        </div>
    </section>
    <!---->
    <!--Informations Section-->
    <section id="info" class="info page-holder">
        <div class="container ">
            <div class="section-title">
                <h2>informations</h2>
            </div>
            <div class="row content">
                <div class="col-lg-6">
                    <h3>
                        Etablissement:
                    </h3>
                    <h4>
                        nom: Capou <br/>
                        type: lycée agricole<br/>
                    </h4>
                    <h3>
                        Site Web:
                    </h3>
                    <h4>
                        Ce site web est un site web qui permet  permettant de contrôler le système d'irrigation 
                        des champs agricoles du lycée capou à distance.
                    </h4>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <img class="image" src="{{ asset('pictures/etablissement.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!---->
</main>
<!---->
<!--Footer-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row content">
                <div class="col-lg-6 footer-contact">
                    <h4>Lycée Capou</h4>
                    <h5>
                        1915 route de Bordeaux<br/>
                        domaine de Capou<br/>
                        82000 Montauban<br/><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </h5>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 footer-links">
                    <h4>Navigation</h4>
                    <ul>
                        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                        <li><a class="nav-link scrollto" href="#MAP">Carte</a></li>
                        <li><a class="nav-link scrollto" href="#info">Informations</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row content">
            <div class="col-lg-6">
                <h6>
                    Site web créé par: <br/>
                    Barrabé Sarah<br/>
                    Macabiau Frédéric<br/>
                    Sueur Mélissa<br/>
                </h6>
            </div>
        </div>
    </div>
</footer>
<!---->
{% endblock %}
