{% extends 'base.html.twig' %}

{% block title %}Projet Capou Symfony{% endblock %}

{% block body %}
<!--Header-->
<header  id="header" class="fixed-top ">
    <nav id="navbar" class="navbar">
        <a href="#" class="nav-link fixed-top">
          <img class="logo fixed-top" src="{{ asset('pictures/logo.jpg')}}"/>
        </a>
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#MAP">Carte</a></li>
          <li><a class="nav-link scrollto" href="#info">Informations</a></li>
          <li><a href="">Authentification</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
</header>
<!---->
<!--Hero-->
<section id="hero">
    <div class="hero-container">
        <h1 id="Titre">Campus Terre et vie</h1>
    </div>
</section>
<!---->
<!--Main-->
<main id="main">
    <!--Map Section-->
    <div id="MAP" class="MAP">
        <div class="container">
            <!--Map is here-->
            <div id="MAP-Example"></div> 
            <!---->
        </div>
    </div>
    <!---->
</main>
<!---->
<!--Footer-->
<footer id="footer">
    <h2 id="text">mentions légales</h2>
</footer>
<!---->
{% endblock %}
