/*
    * Sides bars
*/
.top-side-bar{
    padding: 0;
}
.top-side-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-side-bar > ul > li > a{
    color:white;
}
.top-side-bar > ul > li > a > i {
    font-size: 30px;
}  
/*
    * Left side bar
*/
.left-side-bar{
    min-height:100vh;
}
.left-side-bar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.left-side-bar > ul > li >a{
    color:white;
}
.title{
    text-align:center;
}
.DropDownItems{
    position:fixed;
    padding-top:50px;
}
.DropDownItems ul {
    background-color:black;
    list-style: none;
}
.DropDownItems > ul > li >a{
    color:white;
    font-size:20px;
}
/*show element*/
.Show{
    display: block;
}
/*hide element*/
.Hidden{
    display: none;
}