@font-face { font-family: montserrat-thin; src: url('montserrat-thin.ttf'); } 
@font-face { font-family: NatureGreenItalic; src: url('Nature Green Italic.ttf'); } 
@font-face { font-family: NatureGreen; src: url('Nature Green.ttf'); } 