<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title></title>
        </head>
        <body>
            <h1>Bonjour</h1>
            
            <p>Pour réinitialiser votre mot de passe, cliquer sur le lien ci-dessous.<br>Attention ce lien expire dans 1H !</p>
                        
            <a href="https://localhost:8000{{ url }}">{{ url }}</a>
            
            <p>Bonne continuation sur le site !</p>
        </body>
    </html>