@font-face { font-family: montserrat-thin; src: url('../../fonts/montserrat-thin.ttf'); } 
@font-face { font-family: NatureGreenItalic; src: url('../../fonts/Nature Green Italic.ttf'); } 
@font-face { font-family: NatureGreen; src: url('../../fonts/Nature Green.ttf'); } 