<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title></title>
        </head>
        <body>
            <h1>Bonjour,</h1>
            
            <p>Le changement de votre mot de passe a bien été pris en compte.</p>
            <p>Bonne continuation sur le site !</p>
        </body>
    </html>