{% extends 'base.html.twig' %}

{% block title %}Hello Technicien{% endblock %}

{% block body %}
<main id>
    <!--Dashboard Section-->
    <section id="DashBoard" class="DashBoard">
        <div id="tech-color-bkgnd" class="top-side-bar row">
            <div class="col-1">
                <a href="#">
                    <img class="logo" src="{{ asset('pictures/logo.jpg')}}"/>
                </a>
            </div>
            <ul class="col-10">
                <li><a href=""><i class=""></i></a></li>
                <li><a href=""><i class=""></i></a></li>
                <li><a href=""><i class=""></i></a></li>
                <li><a href="../index"><i class="bi bi-person-x"></i></a></li>
            </ul>
        </div>
        <div class="row">
            <div id="tech-color-bkgnd" class="col-1 left-side-bar">
                <ul>
                    <li>
                        <a class="nav-link" href="javascript:Change('MapBoard', 'StatsBoard')">
                            <i class="bi bi-graph-up"></i> statistiques
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a class="nav-link" href="javascript:Change('StatsBoard', 'MapBoard')">
                            <i class="bi bi-cursor"></i> carte
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-10">
                <div id="StatsBoard" class="StatsBoard Show container">
                    <div id="tech-color-txt" class="row">
                        <!--La classe bg-danger ajoute un fond rouge à l'élément-->
                        <div class="col"><h1>Statistiques</h1></div>
                    </div>
                    <div id="tech-color-txt" class="row">
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                </div>
                <div id="MapBoard" class="MapBoard Hidden container">
                    <div class="row">
                        <!--Map is here-->
                        <div id="MAP-Example"></div>       
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!---->
<footer>

</footer>
{% endblock %}
