{% extends 'base.html.twig' %}

{% block title %}Hello Technicien{% endblock %}

{% block body %}
<!--Header-->
<header  id="header" class="fixed-top ">
</header>
<!---->
<!--main-->
<main id>
    <!--Dashboard Section-->
    <section id="DashBoard" class="DashBoard">
        <div class="container">
            <div class="row content">
                <div class="col-lg-30">
                    <nav id="tech-color-bkgnd" class="top-side-bar fixed-top">
                        <a href="#" class="fixed-top">
                            <img class="logo fixed-top" src="{{ asset('pictures/logo.jpg')}}"/>
                        </a>
                        <ul>
                            <li><a href=""><i class=""></i></a></li>
                            <li><a href=""><i class=""></i></a></li>
                            <li><a href=""><i class=""></i></a></li>
                            <li><a href=""><i class=""></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row content">
                <div class="col-lg-4">
                    <div id="tech-color-bkgnd" class="left-side-tools">
                        <ul><li><a href=""><i class=""></i></a></li></ul>
                        <ul><li><a href=""><i class=""></i></a></li></ul>
                    </div>
                </div>
                <div class="col-lg-26">
                    <div class="MAP">
                        <!--Map is here-->
                        <div id="MAP-Example"></div> 
                        <!---->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---->
    <container>

    </container>
    <nav id="leftbar" class="leftbar">

    </nav>
</main>
<!---->
<footer>

</footer>
{% endblock %}
