{#============================================================================
   Name        : email.html.twig
   Path	       : templates/registration
   Author      : BTS SNIR, Lycée Antoine Bourdelle
   Description : Email's interface creation
   Date 	   : 2022
============================================================================#}

<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title></title>
        </head>
        <body>
            <h1>Bienvenue sur l'interface d'irrigation connectée !</h1>
            
            <p>Vous trouverez ci-dessous vos identifiants de connexion :<br><br>
            	identifiants : {{ identifiant }}<br>
            	mot de passe : {{ mdp }}
            </p>
        </body>
    </html>