/*
    * Sides bars
*/
.top-side-bar{
    padding: 0;
}
.top-side-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-side-bar > ul > li > a > i {
    font-size: 30px;
}  
/*
    * Left side bar
*/
.left-side-bar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.Show{
    display: block;
}
.Hidden{
    display: none;
}