/*
    * This CSS is for the map 
*/
#MAP{
    padding-bottom:10vh;
    min-height:100vh;
}
#MAP-Example{
    background-image:url('./../../public/pictures/carte.png');
    max-width: 80%;
    height: 80vh;
    background-size: cover;
}